<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div
        class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
            Guardar Usuario en el LocalStorage
            </div>

            <!-- User form -->

            <form class="mt-8" [formGroup]="createForm">
                <!-- Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Nombres *</mat-label>
                    <input id="names" matInput formControlName="names" />
                </mat-form-field>
                <div
                    class="div-validation-alert-message"
                    *ngIf="errorControl.names.errors != null"
                >
                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.names.touched ||
                                errorControl.names.dirty) &&
                            errorControl.names.errors.nameNumberMin
                        "
                    >
                        Debe tener más de 3 letras.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.names.touched ||
                                errorControl.names.dirty) &&
                            errorControl.names.errors.nameNumberMax
                        "
                    >
                        Debe tener máximo 50 caracteres.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.names.touched ||
                                errorControl.names.dirty) &&
                            errorControl.names.errors.nameText
                        "
                    >
                        Debe contener letras.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.names.touched ||
                                errorControl.names.dirty) &&
                            errorControl.names.errors.nameRequerid
                        "
                    >
                        Los nombres son requeridos.
                    </p>
                </div>
                <!-- Last Name field -->
                <mat-form-field class="w-full">
                    <mat-label>Apellidos</mat-label>
                    <input
                        id="last_names"
                        matInput
                        formControlName="last_names"
                    />
                </mat-form-field>
                <div
                    class="div-validation-alert-message"
                    *ngIf="errorControl.last_names.errors != null"
                >
                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.last_names.touched ||
                                errorControl.last_names.dirty) &&
                            errorControl.last_names.errors.nameNumberMin
                        "
                    >
                        Debe tener más de 3 letras.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.last_names.touched ||
                                errorControl.last_names.dirty) &&
                            errorControl.last_names.errors.nameNumberMax
                        "
                    >
                        Debe tener máximo 50 caracteres.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.last_names.touched ||
                                errorControl.last_names.dirty) &&
                            errorControl.last_names.errors.nameText
                        "
                    >
                        Solo debe contener letras.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.last_names.touched ||
                                errorControl.last_names.dirty) &&
                            errorControl.last_names.errors.nameRequerid
                        "
                    >
                        Los apellidos son requeridos.
                    </p>
                </div>
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Correo electrónico  *</mat-label>
                    <input id="email" matInput formControlName="email" />
                </mat-form-field>
                <div
                    class="div-validation-alert-message"
                    *ngIf="errorControl.email.errors != null"
                >
                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.email.touched ||
                                errorControl.email.dirty) &&
                            errorControl.email.errors.nameNumberMin
                        "
                    >
                        Debe tener más de 10 letras.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.email.touched ||
                                errorControl.email.dirty) &&
                            errorControl.email.errors.nameNumberMax
                        "
                    >
                        Debe tener máximo 50 caracteres.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.email.touched ||
                                errorControl.email.dirty) &&
                            errorControl.email.errors.nameText
                        "
                    >
                        Ingrese un correo válido.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.email.touched ||
                                errorControl.email.dirty) &&
                            errorControl.email.errors.nameRequerid
                        "
                    >
                        El email es requerido.
                    </p>
                </div>
                <!-- Document field -->
                <mat-form-field class="w-full">
                    <mat-label>Documento *</mat-label>
                    <input id="document" matInput formControlName="document" />
                </mat-form-field>
                <div
                    class="div-validation-alert-message"
                    *ngIf="errorControl.document.errors != null"
                >
                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.document.touched ||
                                errorControl.document.dirty) &&
                            errorControl.document.errors.nameNumberMin
                        "
                    >
                        Debe tener más de 10 caracteres.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.document.touched ||
                                errorControl.document.dirty) &&
                            errorControl.document.errors.nameNumberMax
                        "
                    >
                        Debe tener máximo 50 caracteres.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.document.touched ||
                                errorControl.document.dirty) &&
                            errorControl.document.errors.nameText
                        "
                    >
                        Solo debe contener números.
                    </p>
                </div>

                <!-- gender -->
                <mat-form-field class="w-full">
                    <mat-label>Género  *</mat-label>
                    <mat-select
                        formControlName="gender"
                        (selectionChange)="checkBygender($event)"
                    >
                        <ng-container *ngFor="let item of genders">
                            <mat-option value="{{ item.gender }}">{{
                                item.gender
                            }}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>

                <!-- Age field -->
                <mat-form-field class="w-full" *ngIf="showAge">
                    <mat-label>Edad</mat-label>
                    <input id="age" matInput formControlName="age" />
                </mat-form-field>
                <div
                    class="div-validation-alert-message"
                    *ngIf="errorControl.age.errors != null"
                >
                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.age.touched ||
                                errorControl.age.dirty) &&
                            errorControl.age.errors.nameNumberMin
                        "
                    >
                        Debe tener más de 1 año.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.age.touched ||
                                errorControl.age.dirty) &&
                            errorControl.age.errors.max
                        "
                    >
                        Debe tener máximo 100 años.
                    </p>

                    <p
                        class="validation-alert-message"
                        *ngIf="
                            (errorControl.age.touched ||
                                errorControl.age.dirty) &&
                            errorControl.age.errors.nameText
                        "
                    >
                        Solo debe contener números.
                    </p>
                </div>

                <!-- Hobbies field -->
                <div><mat-label>Pasatiempo *</mat-label></div>
                <br />
                <mat-radio-group name="options" formControlName="hobbie">
                    <ng-container *ngFor="let item of hobbies">
                        <mat-radio-button
                            name="options"
                            value="{{ item.hobbie }}"
                        >
                            {{ item.hobbie }}
                        </mat-radio-button>
                        <br />
                    </ng-container>
                </mat-radio-group>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="createForm.invalid"
                    (click)="saveLocalStorage()"
                >
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>
