<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div
        class="w-full sm:w-auto py-8 px-4 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div
                class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"
            >
                Información del Usuario en el Local Storage
            </div>

            <div class="div-info-user" *ngIf="user">
                <div>
                    <p><strong>Nombres:</strong> {{ user.name }}</p>
                    <br />
                </div>
                <div *ngIf="user.last_name.length > 0">
                    <p><strong>Apellidos:</strong> {{ user.last_name }}</p>
                    <br />
                </div>
                <div>
                    <p><strong>Genero:</strong> {{ user.gender }}</p>
                    <br />
                </div>
                <div *ngIf="user.age">
                    <p><strong>Edad:</strong> {{ user.age }}</p>
                    <br />
                </div>
                <div>
                    <p><strong>Documento:</strong> {{ user.document }}</p>
                    <br />
                </div>
                <div>
                    <p><strong>Correo:</strong> {{ user.email }}</p>
                    <br />
                </div>
                <div>
                    <p><strong>Pasa tiempos:</strong> {{ user.hobbie }}</p>
                    <br />
                </div>

                <p></p>
            </div>

            <div class="div-info-user" *ngIf="!user">
                <p>¡No se ha guardado ningun usuario en el localStorage!</p>
            </div>
        </div>
    </div>
</div>
