<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
        <div class="w-full max-w-screen-xl mx-auto">
            <!-- Tabs -->
            <p>Resolucíon de reto tecníco.</p>
            <br />
            <p>
                Para dar comienzo, puede dirigirse a la parte izquierda en el
                menú lateral. allí encontrará dos opciones:
                <strong>Crear Usuario</strong> y <strong>Ver Usuario</strong>
            </p>
        </div>
    </div>
</div>
